<!-- templates/players/create_players_from_team.html -->
<h2>Create Players from Team</h2>
<form method="post">
  {% csrf_token %}
  <label for="year">Year:</label>
  <input type="text" id="year" name="year"><br><br>

  <label for="team_name">Team Name:</label>
  <input type="text" id="team_name" name="team_name"><br><br>

  <input type="submit" value="Search">
</form>

{% if players %}
  <h3>Players:</h3>
  <ul>
    {% for player in players %}
      <li><a href="{% url 'players:view_player' player.playerID %}">{{ player.nameFirst }} {{ player.nameLast }}</a></li>
    {% endfor %}
  </ul>
{% elif searched %}
  <p>No players found or team not recognized.</p>
{% endif %}
