{% extends "base.html" %}
{% block title %}Career Player Search{% endblock %}
{% block content %}
{% load my_filters %}
<h2>Edit Player: {{ player.first_name }} {{ player.last_name }}</h2>

<form method="post">
    {% csrf_token %}

    <fieldset>
        <legend>General Info</legend>
        {{ player_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Position Ratings</legend>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="position-form">
                {{ form.as_p }}
                {% if form.instance.pk %}
                    <label for="{{ form.prefix }}-DELETE">Delete?</label>
                    {{ form.DELETE }}
                {% endif %}
            </div>
        {% endfor %}
    </fieldset>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<form method="post"
      action="{% url 'players:delete_player' player.serial %}?year={{ player.year }}&team_name={{ player.team_serial.team_name }}"
      onsubmit="return confirm('Are you sure you want to delete this player?');">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete Player</button>
</form>
{% endblock %}