# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
/greenfieldenv/
env/
venv/
ENV/
VENV/
.venv/
.pipenv/
pip-wheel-metadata/

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
/staticfiles/
local_settings.py

# Environment variables
.env
.env.*
.greenfieldenv/
venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/

# MyPy
.mypy_cache/

# Docker
*.pid
docker-compose.override.yml

# Node (if using frontend assets)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Jupyter
.ipynb_checkpoints/

# Others
*.bak
*.swp
*.swo
*.orig
*.log
*.csv
*.sql
*.zip
lahman/

# Ignore migration cache files but not the migrations themselves
**/migrations/__pycache__/